<style>
  .custom-orange-text {
    color: #FFF;
    font-size: 4px;
    margin: 2px 10;
  }
</style>

{%- liquid
  assign product = closest.product
  if product == blank and request.visual_preview_mode
    assign product = collections.all.products.first
  endif
-%}

{% if product.metafields.custom.availability != blank %}
  <div class="custom-orange-text" {{ block.shopify_attributes }}>
    {{ product.metafields.custom.availability }}
  </div>
{% endif %}

{% schema %}
{
  "name": "Availability Status",
  "tag": null,
  "settings": [],
  "presets": [
    {
      "name": "Availability Status",
      "category": "t:categories.product"
    }
  ]
}
{% endschema %}
